@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #00BFA6;
    --gray: #F3F4F6;
    --drak-gray: #6B7280;
    --slatewhite:#cbd5e1;
}
body
{
    font-family: 'Montserrat', sans-serif;;
    margin: 0px;
}

hr{
    margin: 2rem 0rem;
}
.container-center
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.link
{
    text-decoration: none;
background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
   color: #F3F4F6;
}

.secondary-link
{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem ;
    border: 1px solid var(--primary);
    color: #00BFA6;
}

.for-nav
{
    text-decoration: none;
    color: #F3F4F6;
    text-align: right;
}

.list-non-bullet{
    list-style: none;
}
.list-inline
{
    display: inline;
    padding: 2rem;
}

.nav{
    font-weight: bold;
    color:#F3F4F6;
    font-size: 1.5rem;
    
}

.active
{
    font-weight:bold ;
}

.hero
{
    padding: 2rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 500px;
    display: block;
    margin: auto;

}
.hero .hero-heading
{
    color: var(--drak-gray);
    padding-top: 1rem;
}

.section
{
    text-align: center;

}
.ow{
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 1rem 0.5rem;
    border: 5rem;


}
.new{
    text-decoration: none;
    color: #cbd5e1;
    text-align: center;
}

.pad
{
    padding: 3rem;
    margin: 3rem;
}

.pad2
{
    padding:1rem;
    margin: 1rem;
}

p{
    letter-spacing: 0.1rem;
}

